# The Python Programming Language: Functions

In [8]:
x = 1
y = 2
x + y

3

In [9]:
x

1

`add_numbers` es una funcion que toma dos numeros y los suma.

In [10]:
def add_numbers(x, y):
    return x + y

add_numbers(1, 2)

3

`add_numbers` actualizada para tomar un tercer parametro opcional. Usar `print` permite imprimir multiples expresion dentro de una misma celda.

In [11]:
def add_numbers(x,y,z=None):
    if (z==None):
        return x+y
    else:
        return x+y+z

print(add_numbers(1, 2))
print(add_numbers(1, 2, 3))

3
6

`add_numbers` actualizada para tomar un paramtero _flag_ opcional.

In [12]:
def add_numbers(x, y, z=None, flag=False):
    if (flag):
        print('Flag is true!')
    if (z==None):
        return x + y
    else:
        return x + y + z
    
print(add_numbers(1, 2, flag=True))

Flag is true!
3

Asignar la funcion `add_numbers` a la variable `a`.

In [13]:
def add_numbers(x,y):
    return x+y

a = add_numbers
a(1,2)

3

# The Python Programming Language: Types and Sequences

Uso de `type` para retornar el tipo del objeto.

In [16]:
type('This is a string')

str

In [17]:
type(None)

NoneType

In [18]:
type(1)

int

In [19]:
type(1.0)

float

In [20]:
type(add_numbers)

function

Las tuplas son estructuras de datos inmutables (no se pueden alterar)

In [21]:
x = (1, 'a', 2, 'b')
type(x)

tuple

Listas son estructuras de datos mutables.

In [22]:
x = [1, 'a', 2, 'b']
type(x)

list

Usar `append` para adjuntar un objeto a una lista.

In [23]:
x.append(3.3)
print(x)

[1, 'a', 2, 'b', 3.3]

Esto es un ejemplo de como hacer un loop a traves de cada elemento en la lista.

In [26]:
x

[1, 'a', 2, 'b', 3.3]

In [24]:
for item in x:
    print(item)

1
a
2
b
3.3

o usando un operador para indexar

In [27]:
len(x)

5

In [28]:
i=0
while( i != len(x) ):
    print(x[i])
    i = i + 1

1
a
2
b
3.3

Usar `+` para concatenar listas.

In [29]:
[1,2] + [3,4]

[1, 2, 3, 4]

Usar `*` para repetir listas.

In [30]:
[1]*3

[1, 1, 1]

Usar el operador `in` para revisar si algo esta en la lista.

In [31]:
1 in [1, 2, 3]

True

Ahora veamos strings. Usen notacion de brackets para partir un string.

In [32]:
x = 'This is a string'
print(x[0]) #first character
print(x[0:1]) #first character, but we have explicitly set the end character
print(x[0:2]) #first two characters

T
T
Th

Esto va a regresar el ultimo elemento del string.

In [33]:
x[-1]

'g'

Esto va a retornar el pedazo empezando desde el 4to elemento desde el final y parando antes del segundo elemento desde el final.

In [34]:
x = 'This is a string'
x[-4:-2]

'ri'

Este es un slice desde el principio del string que para antes del tercer elemento.

In [35]:
x[:3]

'Thi'

y este es un slice empezando desde el tercer elemento del string hasta el final.

In [36]:
x[3:]

's is a string'

In [37]:
firstname = 'Francisco'
lastname = 'Sosa'

print(firstname + ' ' + lastname)
print(firstname*3)
print('Fran' in firstname)

Francisco Sosa
FranciscoFranciscoFrancisco
True

`split` regresa una lista de todas las palabras en un string, o una lista partida en un caracter en especifico.

In [42]:
firstname = 'Francisco Jose Sosa Hurtarte'.split(' ')[0] # [0] selects the first element of the list
lastname = 'Francisco Jose Sosa Hurtarte'.split(' ')[-1] # [-1] selects the last element of the list
print(firstname)
print(lastname)

Francisco
Hurtarte

['2020', '04', '02']

Asegurense de convertir objetos a strings antes de concatenar.

In [44]:
'Chris' + 2

'Chris2'

In [45]:
'Chris' + str(2)

'Chris2'

Los diccionarios asociacn llaves con valores.

In [59]:
x = {
    'Francisco Sosa': 'fjsosa@uvg.edu.gt', 
    'Bill Gates': 'billg@microsoft.com'
    }

x['Francisco Sosa'] # Retrieve a value by using the indexing operator

'fjsosa@uvg.edu.gt'

In [48]:
x['Kevyn Collins-Thompson'] = "kevin@gmail.com"
x['Kevyn Collins-Thompson']

'kevin@gmail.com'

Iterar sobre todas las llaves:

In [52]:
x

{'Francisco Sosa': 'fjsosa@uvg.edu.gt',
 'Bill Gates': 'billg@microsoft.com',
 'Kevyn Collins-Thompson': 'kevin@gmail.com'}

In [55]:
for key in x:
    print(x[key])

fjsosa@uvg.edu.gt
billg@microsoft.com
kevin@gmail.com

Iterar sobre todos los valores.

In [56]:
for email in x.values():
    print(email)

fjsosa@uvg.edu.gt
billg@microsoft.com
kevin@gmail.com

Iterar sobre todos los items en la lista.

In [57]:
for x in x.items():
    print(x)

('Francisco Sosa', 'fjsosa@uvg.edu.gt')
('Bill Gates', 'billg@microsoft.com')
('Kevyn Collins-Thompson', 'kevin@gmail.com')

In [60]:
for name, email in x.items():
    print(name)
    print(email)

Francisco Sosa
fjsosa@uvg.edu.gt
Bill Gates
billg@microsoft.com

Se puede desempacar una secuencia a diferentes variables:

In [61]:
x = ('Francisco', 'Sosa', 'fjsosa@uvg.edu.gt')
fname, lname, email = x

In [62]:
fname

'Francisco'

In [63]:
lname

'Sosa'

In [64]:
email

'fjsosa@uvg.edu.gt'

In [65]:
def names(x):
    fname, lname, email = x
    return fname, lname, email

In [67]:
x,y,z = names(('Francisco', 'Sosa', 'fjsosa@uvg.edu.gt'))
print(x)
print(y)
print(z)

Francisco
Sosa
fjsosa@uvg.edu.gt

Asegurense que el numero de valores que estan desempacando sea igual al numero de variables que estan asignando.

In [68]:
x = ('Francisco', 'Sosa', 'fjsosa@uvg.edu.gt', 'Guatemala')
fname, lname, email = x

ValueError: too many values to unpack (expected 3)

# The Python Programming Language: More on Strings

In [69]:
print('Francisco' + 2)

TypeError: can only concatenate str (not "int") to str

In [70]:
print('Francisco' + str(2))

Francisco2

Python tiene metodos convenientes para formatear strings.

In [72]:
sales_record = {
    'price': 3.24,
    'num_items': 4,
    'person': 'Chris'}

sales_statement = '{} bought {} item(s) at a price of {} each for a total of {}'

print(sales_statement.format(sales_record['person'],
                             sales_record['num_items'],
                             sales_record['price'],
                             sales_record['num_items']*sales_record['price']))

person = sales_record['person']
num_items = sales_record['num_items']
price = sales_record['price']
total_price = sales_record['num_items']*sales_record['price']

sales_statment = f"{person} bought {num_items} item(s) at a price of {price} each for a total of {total_price}"

Chris bought 4 item(s) at a price of 3.24 each for a total of 12.96

# Leyendo y escribiendo archivos CSV

Vamos a importar el file de datos `mpg.csv` que contiene data para 234 carros.

* mpg : miles per gallon
* class : car classification
* cty : city mpg
* cyl : # of cylinders
* displ : engine displacement in liters
* drv : f = front-wheel drive, r = rear wheel drive, 4 = 4wd
* fl : fuel (e = ethanol E85, d = diesel, r = regular, p = premium, c = CNG)
* hwy : highway mpg
* manufacturer : automobile manufacturer
* model : model of car
* trans : type of transmission
* year : model year

In [73]:
import csv

%precision 2

with open('../data/mpg.csv') as csvfile:
    mpg = list(csv.DictReader(csvfile))
    
mpg[:3] # The first three dictionaries in our list.

[{'': '1',
  'manufacturer': 'audi',
  'model': 'a4',
  'displ': '1.8',
  'year': '1999',
  'cyl': '4',
  'trans': 'auto(l5)',
  'drv': 'f',
  'cty': '18',
  'hwy': '29',
  'fl': 'p',
  'class': 'compact'},
 {'': '2',
  'manufacturer': 'audi',
  'model': 'a4',
  'displ': '1.8',
  'year': '1999',
  'cyl': '4',
  'trans': 'manual(m5)',
  'drv': 'f',
  'cty': '21',
  'hwy': '29',
  'fl': 'p',
  'class': 'compact'},
 {'': '3',
  'manufacturer': 'audi',
  'model': 'a4',
  'displ': '2',
  'year': '2008',
  'cyl': '4',
  'trans': 'manual(m6)',
  'drv': 'f',
  'cty': '20',
  'hwy': '31',
  'fl': 'p',
  'class': 'compact'}]

`csv.Dictreader` ha leido cada fila de nuestro csv como un diccionario. `len` nos muestra que nuestra lista esta compuesta de 234 diccionarios.

In [74]:
len(mpg)

234

`keys` nos da los nombres de las columnas de nuestro csv.

In [75]:
mpg[0].keys()

dict_keys(['', 'manufacturer', 'model', 'displ', 'year', 'cyl', 'trans', 'drv', 'cty', 'hwy', 'fl', 'class'])

Asi es como se calcula el promedio de cty fuel economy a traves de todos los carros. Todos los valores en el diccionario son strings, asi que tenemos que convertirlos a floats.

In [ ]:
sum(float(d['cty']) for d in mpg) / len(mpg)

De esta forma calculamos el hwy fuel economy de todos los carros.

In [ ]:
sum(float(d['hwy']) for d in mpg) / len(mpg)

Usen `set` para regresar los valores unicos para el numero de cilindros que tienen los carros en nuestro dataset.

In [ ]:
cylinders = set(d['cyl'] for d in mpg)
cylinders

Este es un ejemplo mas complejo donde estamos agrupando los carros por numero de cilindors y encontrando el cty mpg promedio para cada grupo.

In [ ]:
CtyMpgByCyl = []

for c in cylinders: # iterate over all the cylinder levels
    summpg = 0
    cyltypecount = 0
    for d in mpg: # iterate over all dictionaries
        if d['cyl'] == c: # if the cylinder level type matches,
            summpg += float(d['cty']) # add the cty mpg
            cyltypecount += 1 # increment the count
    CtyMpgByCyl.append((c, summpg / cyltypecount)) # append the tuple ('cylinder', 'avg mpg')

CtyMpgByCyl.sort(key=lambda x: x[0])
CtyMpgByCyl

Usen `set` para retornar los valores unicos para los tipos de class en nuestro dataset.

In [ ]:
vehicleclass = set(d['class'] for d in mpg) # what are the class types
vehicleclass

Este es un ejemplo de como encontrar el hwy promedio para cada clase de vehiculo en nuestro dataset.

In [ ]:
HwyMpgByClass = []

for t in vehicleclass: # iterate over all the vehicle classes
    summpg = 0
    vclasscount = 0
    for d in mpg: # iterate over all dictionaries
        if d['class'] == t: # if the cylinder amount type matches,
            summpg += float(d['hwy']) # add the hwy mpg
            vclasscount += 1 # increment the count
    HwyMpgByClass.append((t, summpg / vclasscount)) # append the tuple ('class', 'avg mpg')

HwyMpgByClass.sort(key=lambda x: x[1])
HwyMpgByClass

# The Python Programming Language: Dates and Times

In [82]:
import datetime as dt
import pytz
import time as tm

`time` regresa el tiempo actual en segundos desde Epoch. (Enero 1, 1970)

In [79]:
tm.time()

1585878707.67

Convertir el timestamp a un datetime.

In [86]:
tz = pytz.timezone('US/Eastern')
d = dt.datetime(2020, 4, 2, 19, 53, 24)
d = d.replace(tzinfo=tz)
d.tzinfo

In [80]:
dtnow = dt.datetime.fromtimestamp(tm.time())
dtnow

datetime.datetime(2020, 4, 2, 19, 53, 24, 423210)

Atributos utiles de datetime:

In [81]:
dtnow.year, dtnow.month, dtnow.day, dtnow.hour, dtnow.minute, dtnow.second # get year, month, day, etc.from a datetime

(2020, 4, 2, 19, 53, 24)

`timedelta` es una duracion expresando la diferencia entre dos fechas.

In [87]:
delta = dt.timedelta(days = 100) # create a timedelta of 100 days
delta

datetime.timedelta(days=100)

`date.today` regresa la fecha local actual.

In [88]:
today = dt.date.today()
today

datetime.date(2020, 4, 2)

In [89]:
today - delta # the date 100 days ago

datetime.date(2019, 12, 24)

In [90]:
today > today-delta # compare dates

True

# The Python Programming Language: Objects and map()

Un ejemplo de una clase en python:

In [ ]:
class Person:
    department = 'Department of Statistics' #a class variable

    def set_name(self, new_name): #a method
        self.name = new_name
    def set_location(self, new_location):
        self.location = new_location

In [ ]:
person = Person()
person.set_name('Francisco Sosa')
person.set_location('Guatemala City, Guatemala')
print('{} lives in {} and works in the department {}'.format(person.name, person.location, person.department))

Este es un ejemplo de mapear la funcion `min` a entre dos listas.

In [2]:
store1 = [10.00, 11.00, 12.34, 2.34]
store2 = [9.00, 11.10, 12.34, 2.01]
cheapest = map(min, store1, store2)
cheapest

Ahora iteremos a traves del objeto de map para ver los valores.

In [3]:
for item in cheapest:
    print(item)

9.0
11.0
12.34
2.01

# The Python Programming Language: Lambda and List Comprehensions

Este es un ejemplo de una lambda que toma tres parametros y suma los primeros dos.

In [91]:
def my_lambda(a, b, c):
    return a + b

In [97]:
my_function = lambda a, b, c : a + b
other_func = lambda xs: sum(xs)/len(xs)

In [98]:
other_func([1,2,3,4,5])

3.00

In [100]:
list(map(lambda x: x**2, [1,2,3,4,5]))

[1, 4, 9, 16, 25]

In [93]:
my_function(1, 2, 3)

3

In [94]:
my_lambda(1,2,3)

3

Iteremos desde 0 a 999 y regresemos los numeros pares.

In [103]:
my_list = []
for number in range(0, 20):
    if number % 2 == 0:
        my_list.append(number)
        
my_list

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

Ahora lo mismo pero con un list comprehension.

In [104]:
my_list = [number for number 
           in range(0,20) 
           if number % 2 == 0]
my_list

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

# The Python Programming Language: Numerical Python (NumPy)

In [105]:
import numpy as np

## Creando arreglos

Crear una lista y convertirla a un NumPy array.

In [106]:
mylist = [1, 2, 3]
x = np.array(mylist)
x

array([1, 2, 3])

O pasar la lista de forma directa

In [6]:
y = np.array([4, 5, 6])
y

array([4, 5, 6])

Pasar una lista de listas para crear un arreglo multidimensional.

In [107]:
m = np.array([[7, 8, 9], [10, 11, 12]])
m

array([[ 7,  8,  9],
       [10, 11, 12]])

Usen el metodo `shape` para encontrar las dimensiones del arreglo. (filas, columnas)

In [108]:
m.shape

(2, 3)

`arange` regresa valores espaciados uniformemente dentro de un intervalo.

In [109]:
n = np.arange(0, 30, 2) # start at 0 count up by 2, stop before 30
n

array([ 0,  2,  4,  6,  8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28])

`reshape` regresa un arreglo con la misma data en una nueva forma (`shape`)

In [110]:
n = n.reshape(3, 5) # reshape array to be 3x5
n

array([[ 0,  2,  4,  6,  8],
       [10, 12, 14, 16, 18],
       [20, 22, 24, 26, 28]])

`linspace` regresa numeros espeacidos uniformemente sobre un intervalo especificado.

In [111]:
o = np.linspace(0, 4, 9) # return 9 evenly spaced values from 0 to 4
o

array([0. , 0.5, 1. , 1.5, 2. , 2.5, 3. , 3.5, 4. ])

`resize` cambia la forma y tamanio del array in-place.

In [112]:
o.resize(3, 3)
o

array([[0. , 0.5, 1. ],
       [1.5, 2. , 2.5],
       [3. , 3.5, 4. ]])

`ones` regresa un nuevo arreglo de un dado tamanio y tipo, lleno de unos.

In [113]:
np.ones((3, 2))

array([[1., 1.],
       [1., 1.],
       [1., 1.]])

`zeros` regresa un nuevo arreglo de un dado tamanio y tipo, lleno de ceros.

In [114]:
np.zeros((2, 3))

array([[0., 0., 0.],
       [0., 0., 0.]])

`eye` regresa un arreglo 2-D con unos en la diagonal y ceros en los demas.

In [115]:
np.eye(3)

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

`diag` extrae una diagonal o construye un arreglo diagonal

In [117]:
y = np.array([4, 5, 6])
y

array([4, 5, 6])

In [7]:
np.diag(y)

array([[4, 0, 0],
       [0, 5, 0],
       [0, 0, 6]])

Crear un arrelgo usando listas repetidas (o ver `np.tile`)

In [118]:
np.array([1, 2, 3] * 3)

array([1, 2, 3, 1, 2, 3, 1, 2, 3])

Repetir elementos de un arreglo usando `repeat`

In [119]:
np.repeat([1, 2, 3], 3)

array([1, 1, 1, 2, 2, 2, 3, 3, 3])

#### Combinar arreglos

In [120]:
p = np.ones([2, 3], int)
p

array([[1, 1, 1],
       [1, 1, 1]])

Usen `vstack` para apilar arreglos en secuencia vertical (por filas)

In [121]:
np.vstack([p, 2*p])

array([[1, 1, 1],
       [1, 1, 1],
       [2, 2, 2],
       [2, 2, 2]])

Usen `hstack` para apilar arreglos en secuencia horizontal (por columnas).

In [122]:
np.hstack([p, 2*p])

array([[1, 1, 1, 2, 2, 2],
       [1, 1, 1, 2, 2, 2]])

## Operaciones


Usen `+`, `-`, `*`, `/` y `**` para realizar estas operaciones elemento por elemento (element wise)

In [123]:
1 + 1

2

In [124]:
x

array([1, 2, 3])

In [125]:
y

array([4, 5, 6])

In [ ]:
print(x + y) # elementwise addition     [1 2 3] + [4 5 6] = [5  7  9]
print(x - y) # elementwise subtraction  [1 2 3] - [4 5 6] = [-3 -3 -3]

In [ ]:
print(x * y) # elementwise multiplication  [1 2 3] * [4 5 6] = [4  10  18]
print(x / y) # elementwise divison         [1 2 3] / [4 5 6] = [0.25  0.4  0.5]

In [ ]:
print(x**2) # elementwise power  [1 2 3] ^2 =  [1 4 9]

**Dot Product:**  

$ \begin{bmatrix}x_1 \ x_2 \ x_3\end{bmatrix}
\cdot
\begin{bmatrix}y_1 \\ y_2 \\ y_3\end{bmatrix}
= x_1 y_1 + x_2 y_2 + x_3 y_3$

In [126]:
x.dot(y) # dot product  1*4 + 2*5 + 3*6

32

In [127]:
np.dot(x, y)

32

In [128]:
x @ y

32

In [129]:
z = np.array([y, y**2])
print(len(z)) # number of rows of array

2

Veamos como transponer matrices. Transponer permuta las dimensiones de la matriz.

In [130]:
z = np.array([y, y**2])
z

array([[ 4,  5,  6],
       [16, 25, 36]])

La forma del arreglo `z` es `(2,3)` antes de la traspuesta.

In [131]:
z.shape

(2, 3)

Usen `.T` para obtener la traspuesta.

In [132]:
z.T

array([[ 4, 16],
       [ 5, 25],
       [ 6, 36]])

El numero de filas fue cambiado por el numero de columnas.

In [133]:
z.T.shape

(3, 2)

Usen `.dtype` para ver el tipo de dato de los elementos en el arreglo.

In [134]:
z.dtype

dtype('int64')

Usen `.astype` para castear a un tipo en especifico.

In [135]:
z = z.astype('f')
z.dtype

dtype('float32')

In [137]:
z.astype(np.float64).dtype

dtype('float64')

## Funciones matematicas

NumPy tiene muchas funciones matematicas que pueden ser realizadas sobre arreglos.

In [138]:
a = np.array([-4, -2, 1, 3, 5])

In [139]:
a.sum()

3

In [140]:
a.max()

5

In [141]:
a.min()

-4

In [142]:
a.mean()

0.6

In [143]:
a.std()

3.2619012860600183

`argmax` y `argmin` regresan el indice de los valores maximos y minimos en el arreglo.

In [144]:
a.argmax()

4

In [145]:
a.argmin()

0

## Indexing / Slicing

In [146]:
s = np.arange(13)**2
s

array([  0,   1,   4,   9,  16,  25,  36,  49,  64,  81, 100, 121, 144])

Usar notacion de bracket para obtener el valor en un indice especifico. Recuerden que el indice empieza en cero.

In [147]:
s[0], s[4], s[-1]

(0, 16, 144)

Usen `:` para indicar el rango. `array[start:stop]`

Dejar `start` o `stop` vacios va a usar el principio/fin del arreglo por default.

In [148]:
s[1:5]

array([ 1,  4,  9, 16])

Usen negativos para contar hacia atras.

In [ ]:
s[-4:]

Un segundo `:` puede ser utilizado para indicar el tamanio del paso. `array[start:stop:stepsize]`

Aqui estamos empezando en el quinto elemento desde el final, contando hacia atras por 2 hasta llegar al principio del arreglo.

In [ ]:
s[-5::-2]

Veamos un arreglo multidimensional.

In [149]:
r = np.arange(36)
r.resize((6, 6))
r

array([[ 0,  1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10, 11],
       [12, 13, 14, 15, 16, 17],
       [18, 19, 20, 21, 22, 23],
       [24, 25, 26, 27, 28, 29],
       [30, 31, 32, 33, 34, 35]])

Usen notacion de bracket para partir: `array[row, column]`

In [150]:
r[2, 2]

14

Y usen `:` para seleccionar un rango de filas o columnas

In [154]:
r.shape

(6, 6)

In [157]:
r[3, 3:]

array([21, 22, 23])

Aqui estamos seleccionando todas las filas hasta (pero no incluyendo) la fila 2, y todas las columnas hasta (no incluyendo) la ultima.

In [152]:
r[:2, :-1]

array([[ 0,  1,  2,  3,  4],
       [ 6,  7,  8,  9, 10]])

Este es un slice de la ultima fila, y solo cualquier otra semana.

In [153]:
r[-1, ::2]

array([30, 32, 34])

Tambien podemos realizar indices condicionales. Aqui estamos seleccionando valores del arreglo que son mayores a 30. (Tambien vean `np.where`)

In [158]:
r

array([[ 0,  1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10, 11],
       [12, 13, 14, 15, 16, 17],
       [18, 19, 20, 21, 22, 23],
       [24, 25, 26, 27, 28, 29],
       [30, 31, 32, 33, 34, 35]])

In [159]:
r[r > 30]

array([31, 32, 33, 34, 35])

Aqui vamos a asignar todos los valores en el arreglo que son mayores a 30 al valor de 30.

In [160]:
r[r > 30] = 30
r

array([[ 0,  1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10, 11],
       [12, 13, 14, 15, 16, 17],
       [18, 19, 20, 21, 22, 23],
       [24, 25, 26, 27, 28, 29],
       [30, 30, 30, 30, 30, 30]])

## Copiando Data

Tengan cuidado con copiar y modificar arreglos en NumPy!

`r2` es un slice de `r`

In [161]:
r2 = r[:3,:3]
r2

array([[ 0,  1,  2],
       [ 6,  7,  8],
       [12, 13, 14]])

Asignen el valor de este slice a cero (`[:]` selecciona el arreglo entero)

In [162]:
r2[:] = 0
r2

array([[0, 0, 0],
       [0, 0, 0],
       [0, 0, 0]])

`r` tambien cambio!

In [163]:
r

array([[ 0,  0,  0,  3,  4,  5],
       [ 0,  0,  0,  9, 10, 11],
       [ 0,  0,  0, 15, 16, 17],
       [18, 19, 20, 21, 22, 23],
       [24, 25, 26, 27, 28, 29],
       [30, 30, 30, 30, 30, 30]])

Para evitar esto, usen `r.copy` para crear una copia que no va a afectar el arreglo original.

In [165]:
r_copy = r.copy()
r_copy

array([[ 0,  0,  0,  3,  4,  5],
       [ 0,  0,  0,  9, 10, 11],
       [ 0,  0,  0, 15, 16, 17],
       [18, 19, 20, 21, 22, 23],
       [24, 25, 26, 27, 28, 29],
       [30, 30, 30, 30, 30, 30]])

Ahora cuando modifiquemos `r_copy`, `r` no va a cambiar.

In [166]:
r_copy[:] = 10
print(r_copy, '\n')
print(r)

[[10 10 10 10 10 10]
 [10 10 10 10 10 10]
 [10 10 10 10 10 10]
 [10 10 10 10 10 10]
 [10 10 10 10 10 10]
 [10 10 10 10 10 10]]

[[ 0  0  0  3  4  5]
 [ 0  0  0  9 10 11]
 [ 0  0  0 15 16 17]
 [18 19 20 21 22 23]
 [24 25 26 27 28 29]
 [30 30 30 30 30 30]]


### Iterando sobre arreglos

Creemos un nuevo arreglo 4x3 de numeros aleatorios entre 0-9

In [167]:
test = np.random.randint(0, 10, (4,3))
test

array([[2, 1, 6],
       [6, 6, 0],
       [0, 7, 2],
       [8, 2, 4]])

Iterar por fila:

In [168]:
for row in test:
    print(row)

[2 1 6]
[6 6 0]
[0 7 2]
[8 2 4]

Iterar por indice:

In [171]:
list(range(len(test)))

[0, 1, 2, 3]

In [172]:
for i in range(len(test)):
    print(test[i])

[2 1 6]
[6 6 0]
[0 7 2]
[8 2 4]

Iterar por fila e indice:

In [173]:
for i, row in enumerate(test):
    print('row', i, 'is', row)

row 0 is [2 1 6]
row 1 is [6 6 0]
row 2 is [0 7 2]
row 3 is [8 2 4]

Usen `zip` para iterar sobre multiples arreglos.

In [174]:
test2 = test**2
test2

array([[ 4,  1, 36],
       [36, 36,  0],
       [ 0, 49,  4],
       [64,  4, 16]])

In [175]:
for i, j in zip(test, test2):
    print(i,'+',j,'=',i+j)

[2 1 6] + [ 4  1 36] = [ 6  2 42]
[6 6 0] + [36 36  0] = [42 42  0]
[0 7 2] + [ 0 49  4] = [ 0 56  6]
[8 2 4] + [64  4 16] = [72  6 20]