# Assignment 1 - Intro a Pandas

## Parte 1
El codigo que sigue carga el dataset de las olimpiadas (olympics.csv), que ha sido descargado de la entrada en Wikipedia en [All Time Olympic Games Medals](https://en.wikipedia.org/wiki/All-time_Olympic_Games_medal_table), y hace una limpieza de datos basica. 

Las columnas estan organizadas como # de Summer games, Summer medals, # of Winter games, Winter medals, total # number of games, total # of medals. Usen este dataset para responder las preguntas.

In [5]:
890*2

1780

In [2]:
import pandas as pd

df = pd.read_csv('../data/olympics.csv', index_col=0, skiprows=1)

for col in df.columns:
    if col[:2]=='01':
        df.rename(columns={col:'Gold'+col[4:]}, inplace=True)
    if col[:2]=='02':
        df.rename(columns={col:'Silver'+col[4:]}, inplace=True)
    if col[:2]=='03':
        df.rename(columns={col:'Bronze'+col[4:]}, inplace=True)
    if col[:1]=='â„–':
        df.rename(columns={col:'#'+col[1:]}, inplace=True)

names_ids = df.index.str.split('\s\(') # split the index by '('

df.index = names_ids.str[0] # the [0] element is the country name (new index) 
df['ID'] = names_ids.str[1].str[:3] # the [1] element is the abbreviation or ID (take first 3 characters from that)

df = df.drop('Totals')
df.head()

,# Summer,Gold,Silver,Bronze,Total,# Winter,Gold.1,Silver.1,Bronze.1,Total.1,# Games,Gold.2,Silver.2,Bronze.2,Combined total,ID
Afghanistan,13,0,0,2,2,0,0,0,0,0,13,0,0,2,2,AFG
Algeria,12,5,2,8,15,3,0,0,0,0,15,5,2,8,15,ALG
Argentina,23,18,24,28,70,18,0,0,0,0,41,18,24,28,70,ARG
Armenia,5,1,2,9,12,6,0,0,0,0,11,1,2,9,12,ARM
Australasia,2,3,4,5,12,0,0,0,0,0,2,3,4,5,12,ANZ

### Pregunta 0 (Ejemplo)

Cual es el primer pais en df?

*Esta funcion deberia regresar una Series.*

In [ ]:
def answer_zero():
    # Esta funcion regresa la fila para Afghanistan, que es un Series object. 
    return df.iloc[0]

# Pueden examinar que regresa su funcion llamandola en esta celda. 
answer_zero()

### Pregunta 1
Que pais ha ganado la mayor cantidad de medallas de oro en los summer games?

*Esta funcion deberia retornar un solo valor de tipo string*

In [ ]:
def answer_one():
    return "SU RESPUESTA AQUI"

### Pregunta 2
Que pais tuvo la mayor diferencia en su conteo de medallas de oro entre summer y winter?


*Esta funcion deberia retornar un solo valor de tipo string*

In [ ]:
def answer_two():
    return "SU RESPUESTA AQUI"

### Pregunta 3
Que pais tiene la mayor diferencia entre su conteo de summer gold medals y winter gold medals relativo a su total conteo de gold medals?

$$\frac{Summer~Gold - Winter~Gold}{Total~Gold}$$

Solo incluyan paises que tienen al menos 1 gold en summer **Y** winter.

*Esta funcion deberia retornar un solo valor de tipo string*

In [ ]:
def answer_three():
    return "SU RESPUESTA AQUI"

### Pregunta 4
Escriban una funcion que cree una Series llamada "Points" que sea un valor ponderado donde cada gold medal (`Gold.2`) cuenta por 3 puntos, silver medals (`Silver.2`) por 2 puntos, y bronze medals (`Bronze.2`) por 1 punto. La funcion deberia retornar unicamente la columna (un objeto Series) que han creado.

*Esta funcion deberia retornar una Series llamada `Points` de largo 146*

In [ ]:
def answer_four():
    return "SU RESPUESTA AQUI"

## Part 2

Para el siguiente set de preguntas, vamos a usar data de censo de [United States Census Bureau](http://www.census.gov/popest/data/counties/totals/2015/CO-EST2015-alldata.html). Counties son subdivisiones politicas y geograficas de estados en los Estados Unidos. Este dataset contiene data poblacional para counties y states en EEUU del 2010 al 2015. [Vea este documento](http://www.census.gov/popest/data/counties/totals/2015/files/CO-EST2015-alldata.pdf) para una descripcion de los nombres de las variables.

El dataset census (census.csv) debe ser cargado como `census_df`. 

### Pregunta 5
Que estado tiene la mayor cantidad de counties? (tip: considere la llave sumlevel cuidadosamente! Tambien la necesitara para futuras preguntas...)

*Esta funcion deberia retornar un solo valor de tipo string*

In [ ]:
census_df = pd.read_csv('../data/census.csv')
census_df.head()

In [ ]:
def answer_five():
    return "SU RESPUESTA AQUI"

### Pregunta 6

Solo viendo a los tres counties con mayor poblacion para cada estado, cuales son los tres estados con mayor poblacion (en orden de la poblacion mas alta a la mas baja)? Use `CENSUS2010POP`.

*Esta funcion debe retornar una lista de valores string.*

In [ ]:
def answer_six():
    return "SU RESPUESTA AQUI"

### Pregunta 7
Que county ha tenido el cambio absoluto mas grande en poblacion dentro del periodo 2010-2015? (Tip: Valores de poblacion estan guardados entre las columnas POPESTIMATE2010 y POPESTIMATE2015, deben considerar las seis columnas.)

e.i. Si County Population en el periodo de 5 anios es 100, 120, 80, 105, 100, 130, entonces su cambio mas grande en el period seria |130-80| = 50

*Esta funcion deberia retornar un valor de tipo string.*

In [ ]:
def answer_seven():
    return "SU RESPUESTA AQUI"

### Pregunta 8
En este datafile, los Estados Unidos esta partido en cuatro regiones usando la columna "REGION".

Creen un query que encuentre los counties que pertenezcan a la region 1 o 2, cuyo nombre empiece con "Washington", y cuyo POPESTIMATE2015 fue mayor que su POPESTIMATE 2014.

*Esta funcion debe retornar un DataFrame 5x2 con las columnas = ['STNAME', 'CTYNAME'] y el mismo indice ID que el census_df (en orden ascendient por indice).*

In [ ]:
def answer_eight():
    return "SU RESPUESTA AQUI"